<div class="title">
    <h1>Find By:</h1>
</div>
<div id="container">
<div class="contentainer">
    <a class="server card" href="/attacks/findoneattack/search"> <h1>Find One Attack</h1></a>
    <a class="server card" href="/attacks/all/"><h1>Find All Attacks</h1></a>
    <a class="server card" href="/attacks/findAllAttacksForThisServer/search"><h1>Find All Attack For One Server</h1></a>
    <a class="server card" href="/attacks/findAllAttacksForThisUrl/search"> <h1>Find All Attack For This Url</h1></a>
    <a class="server card" href="/attacks/findAllAttacksForThisServerOnThisUrl/search"><h1>Find All Attack For This Server On This Url</h1></a>
    <a class="server card" href="/attacks/findAllAttacksForThisPublicIp/search"><h1>Find All Attack For This Public Ip</h1></a>
    <a class="server card" href="/attacks/findAllAttacksForThisPrivateIp/search"><h1>Find All Attack For This Private Ip</h1></a>
    <a class="server card" href="/attacks/findAllAttacksForThisCountry/search"><h1>Find All Attack For This Country</h1></a>
    <a class="server card" href="/attacks/findAllAttacksForThisCountryOnThisUrl/search"><h1>Find All Attack For This Country To An Url</h1></a>
    <a class="server card" href="/attacks/findAllAttacksOfThisDate/search"><h1>Find All Attacks On One Day</h1></a>
    <a class="server card" href="/attacks/findAllAttacksOfThisMonth/search"><h1>Find All Attacks On One Month</h1></a>
    <a class="server card" href="/attacks/findAllAttacksOfThisYear/search"><h1>Find All Attacks On One Year</h1></a>
</div>
</div>
<style>
  *{ text-decoration: none; }body{overflow: hidden;} .title{ width: 100vw; display: flex;
  justify-content: center; align-items: center; font-size: 20px; }
  div#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.contentainer{
    width: 90vw;
}
</style>

{{>ddos}}