<nav>
  {{#if session.user.username}}
    <div class="e a">
      <a href="/" id="Home">🏠</a>
    </div>
    <div class="e">
      <a href="/projectstatus" id="ProjectStatus">Project Status</a>
      <a href="/settings" id="Settings">Settings</a>
      <a href="/ddos" id="DDoS">DDoS</a>
  {{/if}}
  {{#if session.user.username}}
    </div>

    <a class="e a" href="/logout">
      <img src="{{session.user.profilePic}}">
    </a>
  {{else}}
  <p id="counter">...</p>
  {{/if}}
</nav>

<style>
.e.a {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    font-size: x-large;
    overflow: hidden;
}

.e.a img {
    height: 44px;
    border-radius: 8px;
}

.e {
    background: black;
    padding: 18px;
    margin: 15px;
    border-radius: 15px;
}

nav{
    position: relative;
    cursor: crosshair !important;
}

nav a{
    position: relative;
    cursor: crosshair !important;
}
</style>